body{
    background-color: white;
}

.navbar{
    /*border-bottom: 1px solid #A3DDCB;*/
    background-color: #1F212D;
}

.navbar-brand{
    background-color: #5FAAA8;
    border-radius: 5px 15px;


}