<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/header :: header-links"></head>-->
<head th:replace="partials/header :: header-links">
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>

    <body id="grad">
        <div class="container">
            <h3 class="center-align">Log In</h3>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>

            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" />
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
                <button class="btn waves-effect #1a237e indigo darken-4" type="submit" name="action">Log In
                    <i class="material-icons right">send</i>
                </button>
            </form>

        </div>

        <div th:replace="partials/scripts :: assets"></div>
    </body>
</html>