<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header-links">
    <title>Sign-Up</title>
</head>
    <body id="grad">

        <div class="container">
            <h3 class="center-align">Create an account</h3>
                <form  th:action="@{/sign-up}" method="POST" th:object="${user}">
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" />

                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" />

                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" />

                    <button class="btn waves-effect #1a237e indigo darken-4" type="submit" name="action">Sign Me Up!
                        <i class="material-icons right">send</i>
                    </button>
                </form>
        </div>

        <div th:replace="partials/scripts :: assets"></div>
    </body>
</html>